//----------------------------------------------
// Fade In
//---------------------------------------------- 
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

//----------------------------------------------
// Fade Out
//---------------------------------------------- 
@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

//----------------------------------------------
// Spin
//---------------------------------------------- 
@keyframes spin {
  to { transform: rotate(360deg); }
}

//----------------------------------------------
// Slide Up
//---------------------------------------------- 
@keyframes slide-up {
  0% { transform: translateY(105%); }
  100% { transform: translateY(0%); }
}

//----------------------------------------------
// Fade In and Scale
//---------------------------------------------- 
@keyframes fade-in-scale {
  0% { opacity: 0; transform: scale(1.2); }
  75% { opacity: 1; }
  100% { transform: scale(1); }
}

//----------------------------------------------
// Fade In and Up
//---------------------------------------------- 
@keyframes fade-in-up {
  0% { opacity: 0; transform: translate3d(0, 10px, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

//----------------------------------------------
// Span Title
//---------------------------------------------- 
@keyframes span-title {
  0% { opacity: 0; transform: translate3d(0, 100%, 0); }
  90% { opacity: 1; }
  100% { transform: translate3d(0, 0, 0); }
}

//----------------------------------------------
// Width
//---------------------------------------------- 
@keyframes width {
  0% { width: 0%; }
  100% { width: 100%; }
}

//----------------------------------------------
// Animation Helper
//---------------------------------------------- 
.fade-in {
  animation: fade-in ease-in-out 1s both;
}

.fade-out {
  animation: fade-out ease-in-out 1s both;
}

.spin {
  animation: spin 1s linear infinite both;
}

.slide-up {
  animation: slide-up $ease-cb-1 1s both;
}

.fade-in-scale {
  animation: fade-in-scale ease-in-out 1s both;
}

.fade-in-up {
  animation: fade-in-up ease-in-out 1s both;
}

//----------------------------------------------
// Animation Helper Wow
//---------------------------------------------- 
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
