//-------------------------------------------- 
// Preloader
//--------------------------------------------
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-out;

  span {
    @extend .spin;

    display: block;
    height: 3em;
    width: 3em;

    border: 2px solid transparent;
    border-top-color: $color-black;
    border-radius: 50%;
  }

  .js-wowed & {
    opacity: 0;
  }
}
