<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title and Meta -->
  <title>@@title</title>
  <meta name="description" content="@@description">
  <meta name="author" content="Melissa Milloway">

  <!-- Facebook Open Graph Meta -->
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="@@title">
  <meta property="og:url" content="http://melslearninglab.com">
  <meta property="og:site_name" content="@@title">
  <meta property="og:description" content="@@description">
  <meta property="og:image" content="http://melslearninglab.com/seattle-scenes/assets/images/seo.jpg">
  <meta property="og:type" content="website">

  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="@@description">
  <meta name="twitter:title" content="@@title">
  <meta name="twitter:url" content="http://melslearninglab.com">
  <meta name="twitter:site" content="@@title">
  <meta name="twitter:creator" content="@melmilloway">
  <meta name="twitter:domain" content="http://melslearninglab.com">
  <meta property="twitter:image" content="http://melslearninglab.com/seattle-scenes/assets/images/seo.jpg">

  <!-- Favicons --> 
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/images/favicon/favicon-128.png" sizes="128x128">
  <meta name="application-name" content="Scenes Around Seattle">
  <meta name="msapplication-TileColor" content="#0000FF">
  <meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="assets/images/favicon/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="assets/images/favicon/mstile-150x150.png">
  <meta name="msapplication-square310x310logo" content="assets/images/favicon/mstile-310x310.png">

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto">
  <link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body>
