//---------------------------------------------- 
//  Button Split - btn-split()
//  @description: Creates a button that has a splitting border effect
//  @param:       $color - Color
//  @param:       $borderColor: [$color] - Border color
//  @param:       $borderWidth: [2px] - Border width
//  @param:       $pad: [0] - Padding
//----------------------------------------------
@mixin btn-split($color, $borderColor: $color, $borderWidth: 2px, $pad: 0) {
  position: relative;
  
  padding: $pad;
  
  color: $color;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    
    border: $borderWidth solid $borderColor;
    transition: transform 0.3s ease-in;
  }
  
  &:hover {
    
    &:before,
    &:after {
      transition: transform 0.3s ease-out;
    }
  
    &:before {
      transform: translate3d(-$borderWidth - 1px, $borderWidth + 1px, 0);
    }
    
    &:after {
      transform: translate3d($borderWidth + 1px, -$borderWidth - 1px, 0);
    }
  }
}

//---------------------------------------------- 
//  Link Underline - link-underline()
//  @description: Creates a link underline growing from center
//  @param:       $color: [$color-alpha] - Color
//----------------------------------------------
@mixin link-underline($color: $color-alpha) {
  position: relative;

  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.1em;

    height: 2px;
    width: 0;

    background-color: $color;
    transition: all 0.3s ease-in-out;
  }

  /*
   * Add hover to pseudo element
   * left: 0;
   * width: 100%
   */
}
