//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  padding: {
    right: 2em;
    bottom: 2em;
    left: 2em;
  }
  
  &__copy {
    display: block;
    padding-top: 1em;

    border-top: 1px solid rgba($color-black, 0.1);
  }
}

//----------------------------------------------
// Flex based sticky footer
//---------------------------------------------- 
// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// main {
  // flex-grow: 1;
// }
